<launch>
    <node pkg="beginner_tutorials" type="PubYamlOrderC.py" name="tacticPub" output="screen" respawn="true">
        <!-- <param name="yamlpath" value="/home/haypin/pytest/yamldir"/>
        <param name="launchpath" value="/home/haypin/pytest/launchdir"/> -->
        <param name="yamlpath" value="$(find beginner_tutorials)/yaml-launch"/>
        <param name="launchpath" value="$(find beginner_tutorials)/yaml-launch"/>
    </node>
    <!-- <node pkg="beginner_tutorials" type="SubYamlOrder.py" name="tacticSub" output="screen" respawn="true"/> -->
</launch>